*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #EEEEEE;
    overflow: hidden;
}
                /* Right section and icons styles */

.RightSection {
    background-color: #FF8F60;
    position: absolute;
    height: 100%;
    width: 28em;
    top: 0;
    bottom: 0;
    left: 70%;
    right: 0;
}

#Quotes{
    position: relative;
    top: 70%;
    height: 12.5em;
    width: 100%;
    background-color: transparent;
    text-transform: uppercase;
    margin: 1em 1em 1em 3em;

}

#Quotes h3{
    position: absolute;
    width: 301px;
    height: 86px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Aristotel{
    position: absolute;
    top:7em;
    left: 2em;
    height: 2em;
    width:10em;
    background-image: url(./assets/-\ Aristotel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


#right-background{
    background-image: url(./assets/helmet.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    right: 45%;
    width: 18em;
    height: 20em;
}

#logo{
    background-image: url(./assets/fullLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 1em 0 0 2em;
    width: 200px;
    height: 6.25em;
}

#mainicon{
    background-image: url(./assets/signInPersonIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4.7em;
    height: 4.7em;
    margin: 5% 0 0 28%;
}
    /* End of Right section and icons styles */
    /* Button styles */

#orange-btn {
    margin: 4% 0px 0 10%;
    display: inline-block;

}

#orange-btn button {
    color: white;
    background-color: #FF8F60;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1pt;
}

#white-btn {
    display: inline-block;
    margin-left: 30px;;
}


#white-btn button {
    color: #FF8F60;
    background-color: #fff;
    border: 1px solid #FF8F60;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1pt;
}

.vl {
    border-left: 1px solid #FF8F60;
    height: 3.5em;
    position: absolute;
    left: 12.5%;
}

.btn {
    position: relative;
    margin-left: 30px;
}

    /* End of button styles */
    /* form */

.form {
    margin: 55px 0 0 11.5%;
}

#Email {
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid #FF8F60;
    background-color: #EEEEEE;
    color: #848484;
    font-size: 16px;
    letter-spacing: 1pt;
}

#password {
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid #FF8F60;
    background-color: #EEEEEE;
    color: #848484;
    font-size: 16px;
    letter-spacing: 1pt;
}

#submit {
    color: white;
    background-color: #FF8F60;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1pt;
    width: 15%;
}
    /* End of form styles */

    /* Pseudo elements */
#QuoteText::after{
    content: '';
    height: 2em;
    width: 2em;
    /* padding: 0.5em; */
    background-image: url(./assets/Quotemarks\ right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 5%;
    bottom: 80%;
}


    /* End of Pseudo elements */